@font-face {
  font-family: "MontserratAlternates";
  src: url("/assets/Fonts/Montserrat/MontserratAlternates-Light.ttf");
}

@font-face {
  font-family: "Open-sans";
  src: url("/assets/Fonts/Open-sans/OpenSans-Light.ttf");
}

body {
  /* font-size: 1rem; */
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  /* background-color: #f9f5ff; */
  /* background-color: #e8e5da; */
  background-color: #edf2ef;
  font-family: Open-sans;
}

h1 {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: normal;
  height: 5rem;
  flex-wrap: wrap-reverse;
}

h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}

td {
  padding: 0 1rem;
}

tr:nth-child(odd) {
  /* background-color: #d2e0bf; */
  /* background-color: #f1f2eb; */
  background-color: #d8dad3;
  /* background-color: #d1ccdc; */
  /* background-color: #e8e5da; */
}
