.cv-title {
  grid-area: cv;
}

.personal-info {
  /* background-color: aqua; */
  grid-area: pi;
}

.education {
  /* background-color: brown; */
  grid-area: ed;
}

.working-experience {
  /* background-color: chocolate; */
  grid-area: we;
}

.languages {
  /* background-color: darkcyan; */
  grid-area: lang;
}

.orga-skills {
  /* background-color: cornflowerblue; */
  grid-area: orga;
}

.social-comp {
  /* background-color: yellowgreen; */
  grid-area: soc;
}

.rest {
  /* background-color: springgreen; */
  grid-area: fs;
}

.print {
  grid-area: pr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

[type="button"] {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid #000;
}

/* .working-experience__print1,
.working-experience__print2 {
  visibility: hidden;
} */
