.profile-photo {
  /* background-color: chartreuse; */
  grid-area: ph;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

img {
  border-radius: 20%;
  width: 17rem;
  height: 23rem;
}
